body {
  background-color: #f1c399;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif; }
  body nav {
    background-color: #6f4e53;
    padding: 1em; }
    body nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between; }
      body nav ul li {
        color: #f1c399; }
        body nav ul li img {
          width: 30px;
          height: 30px; }
  body .chart-container {
    display: flex;
    padding: 0 1em; }
    body .chart-container .chart {
      flex: 1;
      display: flex;
      flex-direction: column; }
  body .svg-container {
    display: flex;
    justify-content: flex-start; }
  body h1 {
    color: #6f4e53;
    text-align: center; }
  body .node:hover circle {
    stroke: black; }
  body .bubble-container {
    transition: all 0.1s; }
