$main-color: #6f4e53;
$second-color: #4d817f;
$third-color:#f1c399;
$fourth-color: #dd98a1;
$fifth-color:#ea6a4b;
$sixth-color: #42645b;
$padding-one: 1em;

* {
  box-sizing: border-box;
}

body {
  background-color: $third-color;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;

  nav {
    background-color: $main-color;
    padding: $padding-one;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;

      li {
        color: $third-color;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .chart-container {
    display: flex;
    padding: 0 1em;

    .chart {
      flex: 1;
      display: flex;
      flex-direction: column;

      &:first-of-type {
        justify-content: flex-end;
        align-items: flex-end;
      }

      &:last-of-type {
        justify-content: flex-start;
        align-items: flex-start;
      }

      #table1 {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 4em;
      }

      .table-row {
        display: flex;
        max-width: 200px;
        align-items: center;
        border-bottom: solid black 1px;
        height: 1.5em;
        border-left: solid black 1px;

        &:last-child {
          border-bottom: none;
        }

        .legend-color {
          border-right: solid black 1px;
          width: 2em;
          height: 100%;
        }

        .legend-type {
          padding-left: 1em;
          height: 100%;
          width: 100px;
          border-right: solid black 1px;
        }

        .legend-amount {
          height: 100%;
          padding-left: 1em;
          width: 50px;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .svg-container {
    display: flex;

    .bubble {
    }
  }

  h1 {
    color: $main-color;
    text-align: center;
  }

  .node {
    &:hover {
      circle {
        stroke: black;
      }
    }
  }

  .bubble-container {
    transition: all 0.1s;
  }
}
