$main-color: #6f4e53;
$second-color: #4d817f;
$third-color:#f1c399;
$fourth-color: #dd98a1;
$fifth-color:#ea6a4b;
$sixth-color: #42645b;
$padding-one: 1em;

body {
  background-color: $third-color;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;

  nav {
    background-color: $main-color;
    padding: $padding-one;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;

      li {
        color: $third-color;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .chart-container {
    display: flex;
    padding: 0 1em;

    .chart {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .svg-container {
    display: flex;
    justify-content: flex-start;

    .bubble {
    }
  }

  h1 {
    color: $main-color;
    text-align: center;
  }

  .node {
    &:hover {
      circle {
        stroke: black;
      }
    }
  }

  .bubble-container {
    transition: all 0.1s;
  }
}
